p {
    margin-top: 0.5%;
    font-size: larger;
}

.Text {
    font-size: medium;
    margin: auto;
    padding-right: 2.5%;
    padding-left: 20.9%;
    background: "transparent";
}

#Text1 {
    animation: fadeInRight 3s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
}

#Text2 {
    animation: fadeInRight 3s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

#Text3 {
    animation: fadeInRight 3s;
    animation-delay: 3s;
    animation-fill-mode: both;
}


@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
